{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through image   -->
  {% for image_item in images %}
  <img src="{{image_item.image.url}}" height='120px' width="100px" class="img-responsive" alt="Image" data-toggle="modal" data-target="#modal-default{{image_item.id}}">

  <div class="modal fade" id="modal-default{{image_item.id}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ image_item.title }}</h4>
          
        </div>
        <div class="modal-body">
          <img src="{{image_item.image.url}}" class="img-responsive" alt="Image" height='70%' width='70%'>
          <p>Name:{{image_item.name}}</p>
          <p>Desrciption:{{image_item.description}}</p>
          <p>Posted {{image_item.pub_date|timesince}}</p>
          <p>Location {{image_item.location}}</p>
          <p>Category:{{image_item.category}}</p>
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <p>Posted {{image_item.pub_date|timesince}} by {{image_item.editor}}</p>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No image Items</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}